@let diams = diamond(); <!-- Création d'une constante contenant les données du signal pour evité les appels répétés -->

<!-- Création d'une carte regroupant les informations du diamants de façon dynamique -->
<div class="diamond-card" (click)="showDetails()">  <!-- Déclenche la methode showdetails au clic de l'event binding(click)-->

    <div class="details-row">
        <div class="label"> Name :</div>
        <div class="diamond-name">{{diams.name}}</div> <!-- Noms des diamants  -->
    </div>

    <div class="diamond-image">
        <img [src]="diams.image" [alt]="diams.name" > <!-- Images des diamants  -->
    </div>

    <div class="details-row">
        <div class="label">Mohs scale : </div> 
        <div class="diamond-scale">{{diams.mohsValue}}</div> <!-- Echelle de Mohs des diamants -->
    </div>

    <div class="details-row">
        <div class="label">Price per carat :</div> 
        <div class="diamond-value">{{diams.priceMin | currency :'USD':'symbol':'1.0-0' }}</div> <!-- Prix au carat des diamants -->
    </div>

</div>
